@page
@model PrivacyModel
@{
    ViewData["Title"] = "Feedback";
}
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Neighborhood_Watch</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Neighborhood_Watch.styles.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,600,700&display=swap" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <link href="css/responsive.css" rel="stylesheet" />
</head>

<section class="contact_section layout_padding">
    <div class="contact_bg_box">
        <div class="img-box">
            <img src="images/contact-bg.jpg" alt="contact" id="contact">
        </div>
    </div>
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Let us know about your neighborhood
            </h2>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-7 mx-auto">
                    <form action="#">
                        <div class="contact_form-container">
                            <div>
                                <div>
                                    <input type="text" placeholder="Full Name" name="fullName" id="fullName" />
                                </div>
                                <div>
                                    <input type="email" placeholder="Email" name="email" id="email" />
                                </div>
                                <div>
                                    <input type="text" placeholder="Phone Number" name="mobile" id="mobile"/>
                                </div>
                                <div>
                                    <input type="text" placeholder="Address" name="address" id="address" />
                                </div>
                                <div>
                                    <select class="neighborhood_dropdown">
                                        <option value="" disabled selected>Select Neighborhood</option>
                                        <option value="neighborhood1">Neighborhood 1</option>
                                        <option value="neighborhood2">Neighborhood 2</option>
                                    </select>
                                </div>  
                                <div class="slidecontainer">
                                    <label for="safety_rating">Safety Rating: <span id="safety_rating_value">5</span></label>
                                    <input type="range" class="slider" list="tickmarks" min="0" max="10" step="1" value="5" id="safety_rating">
                                    <datalist id="tickmarks">
                                        <option value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </datalist>
                                </div>
                                <div>
                                    <input type="text" placeholder="Comments" class="message_input" />
                                </div>
                                <div class="btn-box">
                                    <button type="submit">
                                        Submit
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="js/jquery-3.4.1.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/custom.js"></script>
