@page
@model Neighborhood_Watch.Pages.SearchResultsModel

<div class="container">
    <h1>Search Results for "@Model.SearchTerm"</h1>

    @if (Model.SearchResults != null && Model.SearchResults.Count > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Attribute</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var result in Model.SearchResults)
                {
                    var jsonObject = Newtonsoft.Json.JsonConvert.DeserializeObject<Newtonsoft.Json.Linq.JObject>(result);

                    foreach (var property in jsonObject.Properties())
                    {
                        <tr>
                            <td>@property.Name</td>
                            <td>@property.Value</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No results found for "@Model.SearchTerm".</p>
    }
</div>
