@page
@model Neighborhood_Watch.Pages.Index1Model
@{
}

<html>
<head>
    <!-- Added Bootstrap's responsive meta tag -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
 
<body>
    <!-- Wrapped the content in a container class to center it on the page -->
    <div class="container mt-5">
<h3 class="text-center w-100 text-dark h3 mt-5 mb-2">Safest Neighborhoods In Cincinnati</h3>
<div class="row g-3">

            <!-- Replaced col-4 with col-md-4 for all the below divs to make it more responsive -->

<div class="col-md-4">
<img src="https://i0.wp.com/haushomemagazine.com/wp-content/uploads/2021/04/My-Post-6.jpg?w=1200&ssl=1" class="zoom-hover rounded-top" alt="image of place" />
<h4 class="h4 text-center">Hyde Park, Cincinnati</h4>
</div>
    <div class="col-md-4">
<img src="https://abccincy.org/wp-content/uploads/2016/02/Sayler-Park-768x576.jpg" class="zoom-hover rounded-top" alt="image of place" />
<h4 class="h4 text-center">Sayler Park</h4>
</div>
<div class="col-md-4">
<img src="https://www.homesnacks.com/images/oh/cincinnati-oh-11.jpg" class="zoom-hover rounded-top" alt="image of place" />
<h4 class="h4 text-center">Mt. Washington</h4>
</div>
<div class="col-md-4">
<img src="https://mycincinnatirealtor.com/files/2019/12/Observatory-2-2-1024x680.jpg" class="zoom-hover rounded-top" alt="image of place" />
<h4 class="h4 text-center">Mt. Lookout</h4>
</div>
<div class="col-md-4">
<img src="https://th.bing.com/th/id/OIP.lShCGT7aAXVlnSxBC4tbXgHaFb?pid=ImgDet&rs=1" class="zoom-hover rounded-top" alt="image of place" />
<h4 class="h4 text-center">Kennedy Heights</h4>
</div>
<div class="col-md-4">
<img src="https://th.bing.com/th/id/OIP.V3k0IXS0gAzcSNiSGiSuDgHaE6?pid=ImgDet&rs=1" class="zoom-hover rounded-top" alt="image of place" />
<h4 class="h4 text-center">University Of Cincinnati</h4>
</div>
</div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>